@model GraduationProject.Models.OurCollective
<section id="InfoOurCollective">
        <div class="container">
            <div class="row">
                <img src="~/assets/img/Upload/@Model.Image" alt="">
                <h1>@Model.Title</h1>
                
                <p>
                    @Model.Subtitle
                </p>
            </div>
        </div>
    </section>