@model ForgetPassword
<section id="resetPassword">
    <div class="account">
        <div class="container">
            <form method="post">
                <div class="row">
                    <div class="d-flex justify-content-center">
                        <div class=" col-lg-5 sing-up-text">
                            <input hidden asp-for="User.Email" />
                            <input hidden asp-for="Token" />
                            <label class="col-12 custom-field one">
                                <input asp-for="Password" placeholder=" " />
                                <span class="placeholder">Enter new password</span>
                            </label>
                            <label class="col-12 custom-field one">
                                <input asp-for="ConfirmPassword" placeholder=" " />
                                <span class="placeholder">Confrim password</span>
                            </label>
                            <div class="my-4 d-flex justify-content-center">
                                <button type="submit" class="gold-button">Parolu sifirla</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
